# Supabase
NEXT_PUBLIC_SUPABASE_URL=sua_url_supabase
NEXT_PUBLIC_SUPABASE_ANON_KEY=sua_chave_anonima_supabase
SUPABASE_SERVICE_ROLE_KEY=sua_chave_service_role_supabase

# OpenAI
OPENAI_API_KEY=sua_chave_api_openai

# Resend
RESEND_API_KEY=sua_chave_api_resend
RESEND_FROM_EMAIL=noreply@seudominio.com

# NextAuth
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=seu_secreto_nextauth

# App
NEXT_PUBLIC_APP_URL=http://localhost:3000
